


.animacion_2:hover/*usada en los link del indice*/
{
	color:  #ff4d94;
}

.link_baner/*decoracion de los links*/
{
	/*color: #8533ff;*/
	color: white;

}

.link
{
	color: blue;
}

.link_fondo
{	
	color: #333333;
}



.boton_intro/* 1 */
{
	width: 350px;
	height: 100px;

	border-radius: 10px;
	background-color: lightblue;
	transition: background-color 0.5s;/*se refiere al delay de la animacion de pintado*/

	cursor: pointer;para hacer que el cursor aparezca la manita señalando
  	position: relative;

	font-size: 28px;
	font-family: cooper;
	color: red;
}

.boton_intro:hover/*para hacer que un boton tenga animacion de cambio de color*/
{/*todo este div es para poner las condiciones que se mostraran cuando se pase el cursor por encima*/
	background-color: deeppink;
	color: burlywood;
	text-align: center;
}


.boton_intro span/* 2 */ 
{
  cursor: pointer;
  
  position: relative;
  transition: 0.5s;
}


.boton_intro span:after /* 3  */
{
	content: "\00bb";/*lo que va a ir "escondido"*/
	right: -10px;/*para que se mueva hacia la derecha, llendo normalmente de der a izq*/
	opacity: 0;/*para que la palabra sea inivisible, por ahora...*/
	transition: 0.5s;
	position: absolute;/*para que el texto aparezca centrado*/
}


.boton_intro:hover span/*toda esta conbinacion hace que el texto cree un padding hacia la derecha, lo que hace que se mueva hacia la izq*/
{/*aparte de que todo esto se aplica cuando el cursor pasa por encima del boton*/
	padding-right:20px ;/* 4  */
}

.boton_intro:hover span:after /* 5  */
{
	opacity: 1;
	color: white;
	top: 0;
}

/*			todo lo de arriba que trata con botones es para el boton de intro, como lo dice el nombre de la clase				*/
/*									apartir de aqui los botones seran para la pag de decision									*/
	


.boton_cuidado
{
	width: 46%;
	height: 600px;
	border-radius: 10px;
	background-image: url("medusa_cuidado.jpg");
	background-size:cover ;
	float: left;

	padding: 30px;
	font-size: 35px;
	color: #ff0066;
	font-family: poppins;

	transition: .5s;
	cursor: pointer;
	/*background-color: ;*/
}

.boton_cuidado:hover
{
	font-size: 40px;
	
	color: blue;
	font-family: poppins;
	
}

.boton_inv
{
	width: 46%;
	height: 600px;
	border-radius: 10px;
	background-image: url("medusa_inv.jpg");
	background-size:cover ;
	float: right;

	padding: 30px;
	font-size: 35px;
	color: #ff0066;
	font-family: poppins;

	transition: .5s;
	cursor: pointer;
	/*background-color: ;*/
}

.boton_inv:hover
{
	font-size: 40px;
	color: blue;
	
	font-family: poppins;
	
}


/* de aqui para abajo es el boton de la galeria de vermas */

.medusa_a/*imagen*/
{
	width: 210px;
	height: 200px;
	background-image: url(medusa_a.jpg);
	background-size:cover;
	padding: 100px;
}

.medusa_b/*imagen*/
{
	width: 200px;
	height: 200px;
	background-image: url(medusa_b.jpg);
	background-size:cover;
	padding: 100px;
}

.medusa_c/*imagen*/
{
	width: 200px;
	height: 200px;
	background-image: url(medusa_c.jpg);
	background-size:cover;
	padding: 100px;
}

.medusa_d/*imagen*/
{
	width: 200px;
	height: 200px;
	background-image: url(medusa_d.png);
	background-size:cover;
	padding: 100px;
}


.boton_vermas
{	
	color: transparent;/*para que no aparezca el texto de fondo*/

	background-color: gray;

	width: 200px;
	height: 200px;
	padding: 100px;
	border-radius: 10px;
	font-size: 30px;

	
	transition: .5s;
	cursor: pointer;
}

.boton_vermas:hover
{
  cursor: pointer;
  padding-bottom: 10px;
  
  transition: 0.5s;

  position: relative;
  color: transparent;
  background-image: url(vermas_blanco.png),url(medusa_vermas.png);/*se pueden poner 2 imagenes de fondo, recuerdalo*/
}


/*				dedicado a investigacion medusa 			*/
.medusa_e/*imagen*/
{
	width: 210px;
	height: 200px;
	background-image: url(medusa_hidrozoos.jpg);
	background-size:cover;
	padding: 100px;
}

.boton_seleccion_1
{	
	color: transparent;/*para que no aparezca el texto de fondo*/

	background-color: gray;

	width: 200px;
	height: 200px;
	padding: 100px;
	border-radius: 10px;
	font-size: 30px;

	
	transition: .5s;
	cursor: pointer;
}

.boton_seleccion_1:hover
{
  cursor: pointer;
  padding-bottom: 10px;
  
  transition: 0.5s;

  position: relative;
  color: transparent;
  background-image: url(hydrozoa_text.png),url(medusa_hidrozoos_2.jpg);/*se pueden poner 2 imagenes de fondo, recuerdalo*/
}

.medusa_f/*imagen*/
{
	width: 210px;
	height: 200px;
	background-image: url(cubomedusa.jpg);
	background-size:cover;
	padding: 100px;
}




.boton_seleccion_2
{	
	color: transparent;/*para que no aparezca el texto de fondo*/

	background-color: gray;

	width: 200px;
	height: 200px;
	padding: 100px;
	border-radius: 10px;
	font-size: 30px;

	
	transition: .5s;
	cursor: pointer;
}

.boton_seleccion_2:hover
{
  cursor: pointer;
  padding-bottom: 10px;
  
  transition: 0.5s;

  position: relative;
  color: transparent;
  background-image: url(cubozoa_text.png),url(cubomedusa_2.jpg);/*se pueden poner 2 imagenes de fondo, recuerdalo*/
}

.medusa_g/*imagen*/
{
	width: 210px;
	height: 200px;
	background-image: url(escifozoos.jpg);
	background-size:cover;
	padding: 100px;
}

.boton_seleccion_3
{	
	color: transparent;/*para que no aparezca el texto de fondo*/

	background-color: gray;

	width: 200px;
	height: 200px;
	padding: 100px;
	border-radius: 10px;
	font-size: 30px;

	
	transition: .5s;
	cursor: pointer;
}

.boton_seleccion_3:hover
{
  cursor: pointer;
  padding-bottom: 10px;
  
  transition: 0.5s;

  position: relative;
  color: transparent;
  background-image: url(escifozoos_text.png),url(escifozoos_2.jpg);/*se pueden poner 2 imagenes de fondo, recuerdalo*/
}

.medusa_h/*imagen*/
{
	width: 210px;
	height: 200px;
	background-image: url(antozoos.jpg);
	background-size:cover;
	padding: 100px;
}

.boton_seleccion_4
{	
	color: transparent;/*para que no aparezca el texto de fondo*/

	background-color: gray;

	width: 200px;
	height: 200px;
	padding: 100px;
	border-radius: 10px;
	font-size: 30px;

	
	transition: .5s;
	cursor: pointer;
}

.boton_seleccion_4:hover
{
  cursor: pointer;
  padding-bottom: 10px;
  
  transition: 0.5s;

  position: relative;
  color: transparent;
  background-image: url(anthozoa_text.png),url(antozoos_2.jpg);/*se pueden poner 2 imagenes de fondo, recuerdalo*/
}



/*					dedicado a la galeria:		  			*/



.img_gal_anim/*animacion para imagen*/
{	

	width: 80%;
	border: 3px solid;
	

	border-radius: 10px;
	
	transition: .3s;
	cursor: pointer;
}

.img_gal_anim:hover /*animacion para imagen*/
{
  cursor: pointer;
  padding-bottom: 100px;

  border: none;
  transition: 0.5s;
}

.img_anim/*animacion para imagen*/
{	
	
	width: 200px;
	
	padding-left: 30px;
	border-radius: 10px;
	
	
	transition: .5s;
	cursor: pointer;
}

.img_anim:hover /*animacion para imagen*/
{
  cursor: pointer;
  padding-top: 8%;/*lo que hace que la imagen aumente */
  /*anotacion personal, al mover el porcentaje a mas alto, se hace mas grande la imagen
  el chiste es que por el parametro transtion lo hace muuuy rapido
  y no se, me da algo el ver que esa imagen se me acerca muy rapido
  algo como, miedo? fobia, como se diga, por eso le puse un porcentaje tan bajo
  para evitar eso...*/


  transition: 0.5s;
}







